# Name: JAR_Plugin
# Author: Curtis Sera
# Version: 0.1
# Date: 2018/01/19
# Requires: ImageJ 1.51n
# Generate the jar file from the terminal using: "jar cvfM jar_demo.jar *"

#Format: [Menu]>[Submenu], "[Displayed name]", [JAR.class(arg)]
#Submenu is optional. If not specified, IJ places the plugin by file path
#The arg passed to the .class would typically be a function name
Plugins>Fecal Assay, "Feces Analyzer1", Analyzer("run")
Plugins>Fecal Assay, "Feces Analyzer2", Analyzer